.accordion-container {
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    background-color: #fff; 
}

.accordion-output {
    padding-left: 20px;
    transition: max-height 0.3s ease-in-out;
    border-left: 20px solid #ccc;
    border-right: 1px solid #ccc;
    overflow: hidden;
}
.accordion.active {
    opacity: 1; 
}
.accordion {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    cursor: pointer;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    border-radius: 5px;
    opacity: 0.5;
}
.accordion:hover {
    opacity: 1;
}

.accordion .button {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
}

